$orange:#ffa200;
$noir:#201101;
%p{
  font-family:'Segoe UI light';
  font-size:20px;
  text-align:center;
}
%petit{
  font-family:'Segoe UI regular';
  font-size:25px;
  text-align:center;
}

.conteneur{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;
  width:70%;
  height:auto;
  margin:0 auto;
  background:white;
  box-shadow: 10px 5px 24px -8px $orange;
  padding:20px 20px;
  border-top:5px solid rgb(0, 0, 0, .4);
  .tit{
    width:100%;
    display:flex;
    justify-content: space-between;
    #pas{
      opacity:0.6;
      color:$noir;
      @extend %petit;
      display:inline-block;
      font-weight:bold;
      transform: translateX(220%);
    }
    &::after{
      content:'x';
      display:inline-block;
      @extend %petit;
      color:$noir;
      transform: translateY(25px);
    }
  }
  hr{
    width:100%;
    transform:translateY(-30px);
  }
  p{
    @extend %p;
  }
  .lie{
    width:70%;
    left:auto;
    margin-top: 10%;
    a{
      display: inline-block;
      text-decoration: none;
      color:$noir;
      padding:10px 50px;
      cursor: pointer;
      float: right;
    }
    a#bt{
      color:white;
      background: $orange;
      border-radius: 5px;
    }
  }

}
@media screen and (max-width:800px){
  .conteneur{
    width:100vw;
    padding:40px 40px 40px 60px;
    overflow: hidden;
    .tit{
      #pas{
        transform: translateX(50%);
      }
    }
    .lie{
      transform: translateX(-20%);
    }

  }
}
