$orange:#ffa200;
$noir:#201101;
%p{
  font-family:'Segoe UI light';
  font-size:20px;
  text-align:center;
}
%petit{
  font-family:'Segoe UI regular';
  font-size:25px;
  text-align:center;
}

.cadre{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;
  width:70%;
  height:auto;
  margin:0 auto;
  background:white;
  box-shadow: 10px 5px 24px -8px $orange;
  padding:20px 20px;
  border-top:5px solid $orange;
  .dessus{
    width:100%;
    display:flex;
    justify-content: space-between;
    #pass{
      color:$orange;
      @extend %petit;
      display:inline-block;
      font-weight:bold;
      transform: translateX(20%);
    }
    &::after{
      content:'x';
      display:inline-block;
      @extend %petit;
      color:$noir;
      transform: translateY(25px);
    }
  }
  hr{
    width:100%;
    transform:translateY(-30px);
  }
  p{
    @extend %p;
  }
  .info{
    top:5%;
    ul#phone{
      list-style: none;
      li{
        display:inline-block;
        margin:10px;
        a{
          text-decoration: none;
          @extend %p;
          span{
            display:inline-block;
            width:auto;
            margin:5px;
          }
          span#awe{
            padding:3px 5px;
            background: $noir;
            border-left: 5px solid $orange;
            text-align:center;
            i{
              color:white;
            }
          }
          span#noir{
            color:$noir;
          }
          span#orange{
            color:$orange;
          }
        }
      }
    }

  }
  a#bouton{
    display: block;
    text-decoration: none;
    color:$noir;
    padding:10px 50px;
    cursor: pointer;
    float: right;
    color:white;
    background: $orange;
    border-radius: 5px;
  }

}
@media screen and (max-width:800px){
  .cadre{
    width:100vw;
    padding:40px 40px 40px 60px;
    overflow: hidden;
    .dessus{
      #pass{
        transform:translateX(0);
      }
    }
    .info{
      width:100%;
      margin:0;
      padding:0;
    }

  }
}
