$valeur:300px;
@mixin grid($valeur) {
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax($valeur,1fr));
  grid-gap:10px;
}



%p{
  font-family:'Segoe UI light';
  font-size:20px;
  text-align:center;
}
%grand{
  font-family:'Segoe UI light';
  font-size:60px;
  text-align:center;
}
$orange:#ffa200;
$noir:#201101;

.contain{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;
  width:70%;
  height:auto;
  margin:0 auto;
  padding:20px 20px;
  background:white;
  box-shadow: 10px 5px 24px -8px $orange;
  p#title{
    @extend %p;
    font-size:40px;
    border-bottom: 3px solid $orange;
  }
  p{
    @extend %p;
  }
  .donnees{
    @include grid($valeur:400px);
    padding:10px 20px;
    width:100%;
    overflow: hidden;
    article{
      margin:10px;
      @extend %p;
      text-align:left;
      .espace{
        position:relative;
        &::after{
          content: 'x';
          position:absolute;
          display:inline-block;
          width:16px;
          height:16px;
          right:20%;
        }
        #text{
          width:80%;
          height:30px;
          top:5px;
        }
      }
      ul{
        list-style:none;
        li{
          display:inline-block;
          &:nth-child(2){
            transform:translateX(50%);
            display:inline-block;
          }
          .co{
            display:inline-block;
            #coche{
              position:absolute;
              width:15px;
              height:15px;
              appearance: none;
              border:none;
              text-align:center;
              opacity:0;
            }
            &::before{
              content:'';
              display:inline-block;
              width: 15px;;
              height:15px;
              border:1px solid $noir;
              border-radius:50%;
              opacity:1;
              margin:5px;
              background: transparent;
              top:10px;
            }

          }

          span#pa{
            display:inline-block;
            transform:translate(8px,-8px);
          }

        }
      }
    }


  }
  .message{
    width:100%;
    top:5%;
    padding: 10px 20px;
    @extend %p;
    text-align:left;
    textarea{
      width:90%;
      top:10px;
      height:200px;
      position: relative;
    }
    .file{
      border-top:1px solid rgb(0, 0, 0, .4);
      width:250px;
      position:relative;
      left:5%;
      transform:translateY(-100%);
      a{
        text-decoration:none;
        cursor: pointer;
        color:rgb(0, 0, 0, .4);
      }
      span{
        display:inline-block;
        margin-top:10px;
        font-size:15px;
        margin-left:20px;
      }
    }
  }
  .btn{
    padding:10px 30px;
    float:right;
    background: $noir;
    margin-top:2%;
    a{
      text-decoration:none;
      cursor: pointer;
      @extend %p;
      color:white;
    }
  }
}
.cocher {
  background: url("/img/icone1.png") center;
  opacity: 1;
  visibility: visible;
  background-repeat: no-repeat;
  background-size:20px 20px;
}
@media screen and (max-width:800px){
  .contain{
    width:fit-content;
    overflow:hidden;
    padding:20px 10px;
    .donnees{
      width:100%;
      article{
        text-align:center;
        padding:20px 20px;
        ul{
          transform: translateX(-15%);
        }
      }
    }
    .message{
      padding:20px 20px;
      text-align:center;
      .file{
        bottom:0%;
      }
    }
  }
}
