<template>
    <div class="cadre">
        <div class="dessus">
            <p id="pass">Félicitations, Vous devenez notre prioprité </p>
        </div>
        <hr>
        <p>Vous hesitez encore ? Nous pouvons toujours prendre rendez-vous pour parler de votre projet !</p>
        <div class="info">
            <ul id="phone">
                <li><a href="#"><span id="awe"><i class="fas fa-phone"></i></span><span id="noir">+237  </span><span id=orange> 655 568 896</span> | <span id=orange> 6581 568 896</span></a></li>
                <li><a href="#"><span id="awe"><i class="fas fa-envelope"></i></span><span id="orange"> upgradegroupcameroun@gmail.com</span></a></li><br>
                <li><a href="#"><span id="awe"><i class="fas fa-map-marker-alt"></i></span><span id="noir"> Situé au cameroun-yaoundé-Biyem'assi | Face GENERAL VOYAGE</span></a></li>


            </ul>
        </div>
        <a href="#" id="bouton">Prendre RDV</a>



    </div>
</template>

<script>

    export default {
        name: 'confirmation du RDV',
        components: {


        }
    }
</script>

