<template>
    <div class="contain">
        <p id="title"><slot name="titre"></slot></p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi excepturi, labore aperiam explicabo nam quia sint placeat at similique alias adipisci omnis. Ipsa expedita, iure et accusamus repudiandae esse vero?</p>
        <div class="donnees">
            <article>
                <label for="name">votre Nom</label>
                <div class="espace" @click="effacer1"> <input type="text" id="text" v-model="nom"> </div>
                <br><label for="name">Votre Téléphone</label>
                <div class="espace" @click="effacer2"> <input type="text" id="text" v-model="tel"> </div>
                <br><label for="name">Votre email</label>
                <div class="espace" @click="effacer3"> <input type="text" id="text" v-model="mail" ></div>
            </article>
            <article>
                <label for="name">Etes vous un particulier ou une entreprise?</label>
                <ul>
                    <li><div :class="'co ' + checkeds" @click.prevent="check"> <input type="checkbox" id="coche"></div><span id="pa">particulier</span></li>
                    <li><div :class="'co ' + checked" @click.prevent="checks"><input type="checkbox" id="coche"></div><span id="pa">entreprise</span></li>
                </ul>
                <label for="name">Nom de votre entreprise/vos Services</label>

                <div class="espace" @click="effacer4"> <input type="text" id="text" v-model="nomen" ></div>
                <br><label for="name">Secteur d'activité</label>
                <div class="espace" @click="effacer5"> <input type="text" id="text" v-model="secteur"></div>
            </article>
        </div>
        <div class="message">
            <label for="message">Votre message</label><br>
            <textarea>
            </textarea>
            <div class="file">
                <a href="#"><i class="fas fa-file"></i></a><span id="pa">associer un document</span>

            </div>
        </div>
        <button class="btn"><a href="#">Envoyer</a></button>

    </div>
</template>

<script>


    export default {
        name: "rendezvous",
        data(){
            return{
                checked:'',
                checkeds:'',
                coche:false,
                nom:'',
                tel:'',
                mail:'',
                nomen:'',
                secteur:''

            }
        },
        methods:{

            check(){
                if(this.coche){
                    this.checked = ''
                    this.checkeds='cocher'
                }else{
                    this.checked = ''
                    this.checkeds=''
                }
                this.coche=!this.coche
            },
            checks(){
                if(this.coche){
                    this.checked = 'cocher'
                    this.checkeds=''
                }else{
                    this.checked=''
                    this.checkeds=''
                }
                this.coche=!this.coche

            },
            effacer1(){
                this.nom=''
            },
            effacer2(){
                this.tel=''
            },
            effacer3(){
                this.mail=''
            },
            effacer4(){
                this.nomen=''
            },
            effacer5(){
                this.secteur=''
            },
        }
    }
</script>

