* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.partition4-2{
  display:flex;
  flex-direction: column;
  background-color: #201101;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
  color:#cdc9c4;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
  padding:8rem 0;
}

.partition4-2-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:33%;
}

.partition4-2-container-1{
  width:100%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: .5em;
 
}
.partition4-2-container-1 span:nth-of-type(1){
  width:11px;
  height: 11px;
  background: white;
  transform:rotate(45deg);
  margin-right: 5px;
}
.partition4-2-container-1 span:nth-of-type(2){
  color:#e79100;
  margin-right:5px;
}
.partition4-2-container-1 span:nth-of-type(3){
  width:20px;
  height: 20px;
  border-radius: 999px;
  border:1px solid #cdc9c4;
  display: flex;
  justify-content: center;
  align-items: center;

}
.partition4-2-container-2{
  width:100%;
  font-size: 1.6rem;
}
.partition4-2-container-2 span{
  color:white;
  font-weight: 700;
}
.partition4-2-container-3{
  width:100%;
  text-align: justify;
}
.partition4-2-container-4{
  width:100%;
  display:flex;
  justify-content: flex-end;
  margin-top: .5em;
}
.partition4-2-container-4 a{
  text-decoration: none;
  border:1px solid #cdc9c4;
  align-items: center;
  justify-content:center;
  display:flex;
  height: 45px;
  width: 10rem;
  color:#cdc9c4;
}
@media (max-width:770px){
  .partition4-2{
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
}
.partition4-2-container{
    // width:70%;
}
}
.formWrapper {
  flex-grow: 1;
  transform:translateY(100px); 
  padding-top:40px;
  font-family: sans-serif;
  background: #ffa200;
  clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
}
@media screen and (max-width: 920px) {
  
}
@media screen and (max-width: 700px) {
  .formWrapper {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
  }
}

@media screen and (max-width: 700px) {
  .formWrapper .upgradeForm {
    text-align: center;
  }
}
.formWrapper .upgradeForm_1 {
  padding-top: 40px;
  padding-bottom: 7px;
  font-size: 1.5rem;
  color: #201101;
}
.formWrapper .upgradeForm_1 span {
  display: block;
}
.formWrapper .upgradeForm hr {
  width: 210px;
  border: 1px solid white;
  height: 1px;
  margin-bottom: 10px;
}
@media screen and (max-width: 700px) {
  .formWrapper .upgradeForm hr {
    margin: auto auto 20px auto;
    visibility: hidden;
  }
}
.formWrapper .upgradeForm_2 {
  color: white;
  font-size: 1rem;
}
.formWrapper .upgradeForm_3 {
  width: 90%;
  margin: 3rem auto 1rem auto;
}
.formWrapper .upgradeForm_3 .clear {
  clear: both;
}
@media screen and (max-width: 920px) {
  .formWrapper .upgradeForm_3 .clear {
    clear: none;
  }
}
@media screen and (max-width: 920px) {
  .formWrapper .upgradeForm_3 {
    width: 100%;
  }
}
.formWrapper .upgradeForm_3 .formInput {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  height: 50px;
}
@media screen and (max-width: 920px) {
  .formWrapper .upgradeForm_3 .formInput {
    width: 95%;
  }
}
@media screen and (max-width: 700px) {
  .formWrapper .upgradeForm_3 .formInput {
    width: 100%;
    height: 70px;
  }
}
.formWrapper .upgradeForm_3 .formInput div:first-child {
  font-size: 1rem;
  color: white;
  margin-bottom: 3px;
}
.formWrapper .upgradeForm_3 .formInput .input_wrapper {
  background: rgba(255, 255, 255, 0.548);
  height: 90%;
  display: flex;
}
.formWrapper .upgradeForm_3 .formInput .input_wrapper input[type=text], .formWrapper .upgradeForm_3 .formInput .input_wrapper input[type=email] {
  width: 93%;
  border: none;
  height: 100%;
  padding-left: 5px;
  font-size: 1rem;
  background-color: transparent;
}
@media screen and (max-width: 700px) {
  .formWrapper .upgradeForm_3 .formInput .input_wrapper input[type=text], .formWrapper .upgradeForm_3 .formInput .input_wrapper input[type=email] {
    width: 98%;
  }
}
.formWrapper .upgradeForm_3 .formInput .input_wrapper input[type=text]:focus, .formWrapper .upgradeForm_3 .formInput .input_wrapper input[type=email]:focus {
  outline: none;
}
.formWrapper .upgradeForm_3 .formInput .input_wrapper .input_cancel {
  position: relative;
  width: 7%;
  height: 100%;
}
.formWrapper .upgradeForm_3 .formInput .input_wrapper .input_cancel span {
  color: #4b4747;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.formWrapper .upgradeForm_3--left {
  float: left;
  width: 50%;
}
@media screen and (max-width: 700px) {
  .formWrapper .upgradeForm_3--left {
    float: none;
    margin: auto;
    padding-bottom: 20px;
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .formWrapper .upgradeForm_3--left {
    width: 95%;
  }
}
.formWrapper .upgradeForm_3--right {
  float: left;
  width: 50%;
}
.formWrapper .upgradeForm_3--right .checks {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 10px;
}
@media screen and (max-width: 700px) {
  .formWrapper .upgradeForm_3--right .checks {
    width: 70%;
    margin: 20px auto 30px auto;
  }
}
.formWrapper .upgradeForm_3--right .checks .checkWrap {
  display: flex;
  align-items: center;
}
.formWrapper .upgradeForm_3--right .checks .checkWrap input[type=radio] {
  opacity: 0;
  width: 0;
  position: fixed;
}
.formWrapper .upgradeForm_3--right .checks .checkWrap input[type=radio]:checked + .radBut {
  background: white;
}
.formWrapper .upgradeForm_3--right .checks .checkWrap input[type=radio]:not(:checked) + .radBut {
  background: transparent;
}
.formWrapper .upgradeForm_3--right .checks .checkWrap .radBut {
  border-radius: 50%;
  padding: 6px;
  border: 2px solid white;
  background: transparent;
  display: inline-block;
  margin-right: 2px;
}
.formWrapper .upgradeForm_3--right .checks .checkWrap label {
  color: white;
  font-size: 1rem;
  align-items: center;
}
.formWrapper .upgradeForm_3--right .formSubmit {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.formWrapper .upgradeForm_3--right .formSubmit input[type=submit] {
  width: 10rem;
  height: 45px;
  border: none;
  background: #201101;
  color: white;
  margin-right: 5%;
  cursor:pointer;
  transition:.3s;
}

.formWrapper .upgradeForm_3--right .formSubmit input[type=submit]:hover{
    background:#502b04cc;
}

.formWrapper .upgradeForm_3--right .formSubmit input[type=submit]:focus{
  outline:none;
}

@media screen and (max-width: 700px) {
  .formWrapper .upgradeForm_3--right .formSubmit input[type=submit] {
    margin-top: 20px;
    margin-right: 0;
  }
}
@media screen and (max-width: 700px) {
  .formWrapper .upgradeForm_3--right .formSubmit {
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  .formWrapper .upgradeForm_3--right {
    float: none;
    margin: 20px auto auto auto;
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .formWrapper .upgradeForm_3--right {
    width: 95%;
  }
}
.formWrapper .footer{
  padding-bottom: 12em;
}
.formWrapper .footer_1 {
  display: flex;
  width: 100%;
}
.formWrapper .footer_1 img{
  width: 100px;
  height: 64px;
}

.formWrapper .footer_1 .span-line{
  height: 3px;
  width: 870px;
  text-align: center;
  background: white;
  float: left;
}
.formWrapper .footer_2 {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: white;
}
@media screen and (max-width: 700px) {
  .formWrapper .footer_2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.formWrapper .footer_2 div:not(:first-child) {
  width: 20%;
  margin: 1em;
}
@media screen and (max-width: 700px) {
  .formWrapper .footer_2 div:not(:first-child) {
    width: 80%;
    margin-top: 20px;
  }
}
.formWrapper .footer_2 div:first-child {
  width: 35%;
  margin: 1em;
}
@media screen and (max-width: 700px) {
  .formWrapper .footer_2 div:first-child {
    width: 80%;
  }
}
.formWrapper .footer_2 div:first-child span {
  display: block;
}
.formWrapper .footer_2 div:first-child span a:link, .formWrapper .footer_2 div:first-child span a:visited {
  text-decoration: none;
  color: white;
}
.formWrapper .footer_2 div:first-child span a:link:hover, .formWrapper .footer_2 div:first-child span a:visited:hover {
  color: #201101;
}
.formWrapper .footer_3 {
  margin-top: 20px;
  display: flex;
}
@media screen and (max-width: 700px) {
  .formWrapper .footer_3 {
    justify-content: center;
  }
}
.formWrapper .footer_3 a:link, .formWrapper .footer_3 a:visited {
  font-size: 30px;
  color: #201101;
}
.formWrapper .footer_3 a:link:not(:last-child), .formWrapper .footer_3 a:visited:not(:last-child) {
  margin-right: 15px;
}

/*# sourceMappingURL=footer.css.map */
