$textColor: black;
$textDecoration: none;
$font: 18px;
$color: blue;
$min-height: 100px !important;
body{
  display:flex;
  flex-direction: column;
}
.hide{
  display:none;
}
header{
  width: 100%;
  min-height: $min-height;
  position: relative;
  background: rgb(252, 248, 248);
  -webkit-box-shadow: 0px 10px 13px -7px #e5e2e2, 5px 5px 15px -1px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #e5e2e2, 5px 5px 15px -1px rgba(0,0,0,0);
}
.hamburger{
  display: none;
}
.container{
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}
.logo{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo div img{
  display: flex;
  width: 100px;
  height: 64px;
  float: left;
  margin-right: 15px;

}
.logo .colinks {
  display: flex;
  align-items: center;
  float: right;

}
.colinks a {
  text-decoration: none;
  color: $textColor;
  font-weight: 700;
  font-size: $font;
  margin-right: 50px;
  align-items: center;
}
.colinks a:hover {
  color: $color;
}
.left-link{
  width: 30%;
  float: right;
  display: flex;
  justify-content: space-around;
}
.left-link a{
  text-decoration: none;
  color: $color;
  font-weight: 700;
}
.left-link a:hover{
  text-align: center;
  width: 90px;
  height: 20px;
  background: $color;
  color: white;
  border: 1px solid $color;
  border-radius: 10px
}
.show{
  display: none;
}
@media (max-width:1009px){
  .logo{
    align-items: flex-start;
  }

  header{
    position: relative;
  }
  .hamburger{
    background: #FFA200;
    position: absolute;
    cursor: pointer;
    display:block;
    right: 5%;
    top: 2em;
    transform: translate(-5%,-50%);
    z-index: 2;

    .line{
      width: 30px;
      height: 2px;
      background: #FFA200;
      margin: 5px;
    }
  }
  .container .colinks,
  .container .left-link{
    display:none;
  }
  .hide{
    display: none;
  }
  .show{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    z-index:5;

    a{
      text-decoration: none;
      color: $textColor;
      width: 100%;
      text-align: center;
      margin-bottom: 1em
    }
  }
  .container .colinks,
  .container .left-link.open{
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
}
