<template>
    <div v-bind:class="'colorBackgroundMaster '+ bg">


        <!-- this is for the left container -->
        <div class="levelone One">

        </div>



        <!-- this is for the container holding the phone images -->
        <div class="floating-container">

            <img :src="'/img/services/' + image">
        </div>



        <!-- this is for the right hand div -->

        <div class="levelone Two">
            <!-- this is for the upper text -->
            <div>
                {{upperText}}
            </div>

            <!-- this is for the horizontal line -->
            <div class="hr">

            </div>

            <!-- this is for the paragraph text -->
            <div>
                {{lowerText}}
            </div>
            <a href="#">Demander un devis</a>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            upperText:String,
            lowerText:String,
            bg:String,
            image:String,


        },


        methods:{

        },

    }
</script>

