<template>
    <div class="card_grid">
        <formation-card></formation-card>

        <formation-card
                imgSrc="publisher.png"
                imgLabel="Microsoft Publisher"
                main_color="orange"
                main_bgcolor="orangebg"
        ></formation-card>

        <formation-card
                imgSrc="word.png"
                imgLabel="Microsoft Word"
                main_color="blue"
                main_bgcolor="bluebg"
        ></formation-card>

        <formation-card imgSrc="publisher.png" imgLabel="Latex" main_color="gray" main_bgcolor="graybg"></formation-card>
    </div>
</template>

<script>
    import Card from "./formationCard";

    export default {
        components: {
            "formation-card": Card
        }
    };
</script>

<style scoped>
</style>
