<template>
    <div class="butBody">
        <button v-on:click="onClick" class="mybut" name="mybut">{{buttonLabel}}</button>
        <label >
            <slot name="butText"></slot>
        </label>
    </div>
</template>

<script>

    export default {
        props: {
            buttonLabel: {
                type: String,
                required: true
            },

            onClick: {
                type: Function
            }
        }
    };
</script>
