@import 'module/butgrid';
@import 'module/card_grid';
@import 'module/excelbut';
@import 'module/formationCard';

$color-green_primary:#3caa30;
$color-green-secondary:#75dc00;
$color-brown-main:#201101;
$color-orange-main:#ffa200;


.excel_main{
  box-sizing: border-box;
  // overflow-x:hidden;

  font-family: sans-serif;
  @media(max-width:250px){
    width:1200px;
    float:right;
  }

  &--upper{

    .ms_description{
      background-color: $color-green_primary;
      display:flex;

      @media(max-width:730px){
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

      }


      &--left{
        position: relative;
        width:33%;


        img{
          display: block;
          height:37vw;
          width:100%;
          left:50%;
          transform:translateX(-50%);
          position: absolute;
          top:22.5%;

          @media(max-width:1100px){
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
          }

          @media(max-width:730px){
            position: relative;
            transform: translate(0,0);
            top:0;
            left:0;

          }

        }


      }

      &--right{
        color:white !important;
        width:60%;
        padding:6rem 2rem 1rem 2rem;

        @media(max-width:730px){
          width:90%;
          margin:auto;
          padding:2rem 2rem 1rem 2rem;
          text-align: center;

        }

        @media(max-width:500px){
          padding-left:0;
          padding-right:0;
        }

        h1{
          font-size: 40px;
          margin: 0;
        }

      }
    }

    .ms_pricing{
      display:flex;
      @media(max-width: 1100px){
        justify-content: flex-end;

      }

      &--left{
        width:33%;

        @media(max-width: 1100px){
          width:0;

        }
      }

      &--right{
        width:60%;
        @media(max-width:1100px){
          width:100%;

        }



        &__up{
          display:flex;
          @media(max-width:1100px){
            justify-content: flex-end;

          }
          @media(max-width:730px){
            justify-content: center;
            margin-top:20px;
          }

          @media(max-width:500px){
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
          }



          .price1{
            margin-right:6rem;

            @media(max-width:500px){
              margin-right: 0;
              margin-bottom: 20px;
            }
            div:nth-child(1){
              font-weight:bold;
              font-size: 30px;
              color:$color-brown-main;


            }
            div:nth-child(2){
              color:$color-green_secondary;
              font-size: 50px;
              @media(max-width:1000px){
                font-size: 40px;
              }
            }
          }

          .price2{
            // margin-right:6rem;
            div:nth-child(1){
              font-weight:bold;
              font-size: 30px;
              color:$color-brown-main;


            }
            div:nth-child(2){
              color:$color-green_secondary;
              font-size: 50px;
              @media(max-width:1000px){
                font-size: 40px;
              }
            }
          }


        }

        .h-rule{
          width:100%;
          border:none;
          height:1px;
          background-color:$color-green-secondary;
          @media(max-width:1100px){
            width:70%;
            margin-right:2px;

          }

          @media(max-width:730px){
            margin:auto;
            margin-top:10px;
            margin-bottom:10px;

          }

        }

        &__down{
          display: flex;
          justify-content:flex-end;

          @media(max-width:730px){
            justify-content: center;
          }

          @media(max-width:500px){
            flex-direction:column;
            justify-content: space-between;
            align-items: center;
          }

          button{

            border:none;
            padding:15px 40px;
            transition:.2s;
            background:white;
            font-weight: bold;
            cursor:pointer;
            color:$color-brown-main;
            font-size: 20px;

            &:hover{
              background: $color-brown-main;
              color:white;
            }

            &:focus{
              outline:none;
            }

            &:first-child{
              margin-right:20px;
              @media(max-width:500px){
                margin-bottom:20px;
                margin-right: 0;
              }
            }


          }

        }
      }
    }
  }


  .separator{
    width:92%;
    border:none;
    height: 1px;
    background: $color-green_secondary;
    margin-top:110px;
    margin-bottom:50px;


    @media(max-width:730px){
      margin-top:30px;
      margin-bottom:30px;


    }

  }


  &--lower{
    width:92%;
    margin:auto;

    .part_heading{
      font-size: 30px;
      color:#000;
      text-align: center;
    }

    .heading_underline{
      margin-top:25px;
      margin-bottom:30px;
      width:200px;
      border:none;
      height: 3px;
      background:$color-orange-main;
    }

    .part_content{
      margin-bottom: 40px;
      color:black;
    }
  }

}
