*{
  margin:0;
  padding:0;
}

.gridBlock{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:2em 3em;
  margin-top:2em;
  margin-bottom: 4em;
  text-align:left;
  padding:0 4em;

  h3{
    margin-bottom:8px;
    color:#ff8800;

    span{
      display:inline-block;
      height: 15px;
      width:11px;
      background:#ff8800;
      transform:rotate(45deg)
    }
  }

  div{

    div{
      margin-left: 2em;
    }
  }
}

@media (max-width:1000px){
  .gridBlock{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:800px){
  .gridBlock{
    grid-gap:1em 2em;
    padding:0 2em;
  }
}

@media (max-width:700px){
  .gridBlock{
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
  }
}

