

body{
  margin:0;
  padding:0;
}
div{

  text-align: center;

  h1{
    font-size: 3rem;
    margin-bottom: 0.1em;
  }

  hr{
    border-bottom: 2px solid #ff8800;
    width:15%;
    margin-bottom: 0.5em;

  }

  p{
    margin-bottom: 2em;
    text-align:justify;
    padding: 0 5.5em;
  }

}

@media (max-width:600px){
  div{
    p{
      padding:0 1em;
    }
  }
}

@media (max-width:600px){
  div{
    p{
      padding:0 1em;
    }

    hr{
      width:90%;
    }
  }
}

@import 'gridBlock.scss';
@import 'coloredBackground.scss';

