<template>
    <div class="cardBody">
        <div :class="'upBand '+main_bgcolor"></div>

        <div class="card_lower">
            <div class="card_image">
                <img :src="'/img/' + imgSrc"  />
                <div>{{imgLabel}}</div>
            </div>

            <div class="card_desc">{{description}}</div>

            <div v-bind:class="'more '+main_color">
                <span style="color:white;" v-bind:class="'more_s '+main_bgcolor ">4 mois</span>
                Support Numérique offert, heures personalisées
            </div>

            <div class="pricing">
                <div class="pricing__up">
                    <div class="title">Inscription</div>
                    <div v-bind:class="'price '+main_color">5.000 fcfa</div>
                </div>
                <hr class="myrule" />
                <div class="pricing__down">
                    <div class="title">Frais de Cours</div>
                    <div v-bind:class="'price '+main_color">124.000 fcfa</div>
                </div>
            </div>

            <div class="discover">
                <button>Découvrir</button>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            imgSrc: {
                type: String,
                default: "excel.png"
            },
            imgLabel: {
                type: String,
                default: "Microsoft Excel"
            },

            description: {
                type: String,
                default: "lorem ipsum dolor and so on guyswe no get time"
            },

            main_color: {
                type: String,
                default: "green"
            },

            main_bgcolor: {
                type: String,
                default: "greenbg"
            }
        }
    };
</script>

