<template>
    <section class="formWrapper">

        <div class="partition4-2">
            <div class="partition4-2-container">
                <div class="partition4-2-container-1">
                    <span></span><span>pack premium </span>  &ndash;<span><i class="fas fa-angle-right"></i> </span> 
                </div>
                <div class="partition4-2-container-2">
                    Decouverz aussi notre offre speciale pour les <span>Startups</span>
                </div>
                <div class="partition4-2-container-3">
                    dites nous de quoi vous avez besoindites
                    nous de quoi bous avez besoindites nous de
                    quoi vous avez besoindites nous de quoi vous
                </div>
                <div class="partition4-2-container-4">
                    <a href="#">Decouvir</a>
                </div>
                
            </div>
        </div>
            <section class="upgradeForm">
                <div class="upgradeForm_1">
                    <span>Vous n'etes toujours pas convaincu? </span>
                    <span>...Vous Voulez discuter de votre projet?</span>
                </div>

                <hr>

                <div class="upgradeForm_2">
                    <span>dites nous de quoi vous avez besoindites nous de quoi
                        vous avez besoindites nous de quoi vous avez besoindites
                        nous de quoi vous avez besoindites nous de quoi
                        vous avez besoindites nous de quoi vous
                        avez besoindites nous de quoi vous avez besoin
                    </span>
                </div>

                <form class="upgradeForm_3">

                    <!-- left part of the form -->
                    <div class="upgradeForm_3--left">
                        <div class="formInput">
                            <div>Votre nom</div>
                            <div class="input_wrapper"><input type="text" name="" id=""><div class="input_cancel"><span>X</span></div></div>
                        </div>

                        <div class="formInput">
                            <div>Votre téléphone</div>
                            <div class="input_wrapper"><input type="text" name="" id=""><div class="input_cancel"><span>X</span></div></div>
                        </div>

                        <div class="formInput">
                            <div>Votre email</div>
                            <div class="input_wrapper"><input type="email" name="" id=""><div class="input_cancel"><span>X</span></div></div>
                        </div>
                    </div>

                    <!-- right part of the form -->
                    <div class="upgradeForm_3--right">
                        <div class="formInput">
                            <div>Étes vous un particulier ou une entreprise?
                            
                            </div>
                            <div class="checks">
                                <div class="checkWrap">
                                    <input onclick="checkplay(event)" type="radio" name="check" id="check1" checked><label  class="radBut" for="check1"></label>
                                    <label> Particulier</label>
                                </div>

                                <div class="checkWrap">
                                    <input onclick="checkplay(event)" type="radio" name="check" id="check2"><label class="radBut" for="check2"></label>
                                    <label> Entreprise</label>
                                </div>
                            </div>
                        </div>

                        <div class="formInput">
                            <div>Nom de votre entreprise/ vos services </div>
                            <div class="input_wrapper"><input type="text" name="" id=""><div class="input_cancel"><span>X</span></div></div>
                        </div>

                        <div class="formInput">
                            <div>Secteurs d'activités </div>
                            <div class="input_wrapper"><input type="text" name="" id=""><div class="input_cancel"><span>X</span></div></div>
                        </div>

                        <div class="formSubmit">
                            <input type="submit" value="Envoyer">
                        </div>
                    </div>

                    <div class="clear"></div>
                </form>

        </section>

        <footer class="footer">
            <div class="footer_1">
                <img src="../../../public/images/logo1.png" alt=""> 
                <span class="span-line"></span> 
            </div>

            <div class="footer_2">
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Atque, iste iure totam nostrum est fugit iusto veniam temp
                    oribus ducimus, consequatur voluptates hic, molestias repel
                    lat at accusamus. Voluptates, sint in eligendi ipsam, offic
                    ia culpa laboriosam, quibusdam perferendis qui quos itaque
                    aspernatur?
                    <br>
                    <br>
                    <span><a href="#">upgradegroup.org</a></span>
                    <span><a href="#">upgradegroup@gmail.com</a></span>
                </div>

                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Atque, iste iure totam nostrum est fugit iusto veniam temp
                    oribus ducimus, consequatur voluptates hic, molestias repel
                    lat at accusamus
                </div>

                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Atque, iste iure totam nostrum est fugit iusto veniam temp
                    oribus ducimus, consequatur voluptates hic, molestias repel
                    lat at accusamus
                </div>

                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Atque, iste iure totam nostrum est fugit iusto veniam temp
                    oribus ducimus, consequatur voluptates hic, molestias repel
                    lat at accusamus
                </div>
            </div>
<!-- font awesome here -->
            <div class="footer_3">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-google-plus"></i></a>
            </div> 

        </footer>
</section>
</template>
<script>
import '../../../src/assets/scss/global/footer.scss'
import '../../../public/css/fontawesome-free-5.11.2-web/css/all.css'
export default {
    checkplay: function(event) { 
        document.getElementsByName("check").forEach((value)=>{
            value.setAttribute("checked",false);
        });
        let clicked=event.target;
        clicked.setAttribute("checked",true)

    }
                   
}
</script>
