<template>
    <div class="home-header">
            <div id="popmenu" class="menu remove">
        <ul class="menuUl">
            <li><a href="#">Services</a></li>
            <li><a href="#">Offres</a></li>
            <li><a href="#">Formations</a></li>
            <li><a href="#">qui nous sommes</a></li>
            <li><a href="#">contacter</a></li>
            <li><a href="#">Devis</a></li>
            <li><a href="#">Newsletter</a></li>
        </ul> 
 </div>
<header class="header">
    <div class="popmenu" onclick="popup();">
        <i class="fas fa-bars"></i>

    </div>

    <div class="headerup">
        <div class="logo">
            <!-- image -->
        </div>
        <nav class="navigation">
            <div class="nav1">
                <ul>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Offres</a></li>
                    <li><a href="#">Formations</a></li>
                    <li><a href="#">qui nous sommes</a></li>
                    <li><a href="#">contacter</a></li>
                </ul>
            </div>

            <div class="nav2">
                <ul>
                    <li><a href="#">Devis</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="down_main">
        <div class="header_down">
            <div class="header_line"></div>
            <div class="evolution">
                <span>
                    L'évolution commence
                </span>
                <span>
                    aujourd'hui
                </span>
            </div>
    
            <div class="header_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Animi voluptatum maxime nesciunt
                delectus inventore voluptatem quam rem ad natus cum
                totam quae.
            </div>
    
            <div class="butDiv">
                <a href="#">consulter nos produits</a>
                <a href="#">Demander un devis</a>
            </div>
    
        </div>
    
    </div>

    
</header>
<div class="phones">
        <div class="phonesWrapper">
            <img src="./images/o1.png" alt="phone">
            <img src="./images/o2.png" alt="pc">
            <img src="./images/o3.png" alt="tablet">
        </div>
    </div>
    </div>
</template>